// 样式公共变量定义
@zl-header-hover-bg: rgba(0, 0, 0, 0.025);
@zl-primary-color: #1890ff;

.zl-right-cont {
  display: flex;
  float: right;
  height: 48px;
  margin-left: auto;
  overflow: hidden;
  align-items: center;
  .zl-avatar-wrapper,
  .zl-help-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    .avatar {
      margin: 20px 0;
      margin-right: 8px;
      color: @zl-primary-color;
      vertical-align: top;
      background: rgba(0, 0, 0, 0.25);
    }
    > span {
      vertical-align: middle;
    }
    &:hover {
      background: @zl-header-hover-bg;
    }
  }
}
